@charset "UTF-8";
.headbox {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100vh;
  background-image: url(../img/home-banner.jpg);
  background-size: cover;
  flex-wrap: wrap;
}
.headbox > .headmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 35px;
}
.headbox > .headmenu > div > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}
.headbox > .headmenu > div > figure > img {
  width: 80%;
}
.headbox > .headmenu > div > nav > ul {
  padding-right: 50px;
  display: flex;
}
.headbox > .headmenu > div > nav > ul > li {
  padding: 0px 20px;
}
.headbox > .headmenu > div > nav > ul > li:nth-of-type(1) > a {
  color: #CB2B15;
}
.headbox > .headmenu > div > nav > ul > li > a {
  font-size: 16px;
  transition: 0.4s;
  padding: 5px 0px;
  text-transform: uppercase;
}
.headbox > .headmenu > div > nav > ul > li > a:hover {
  color: #CB2B15;
}
.headbox > .headmenu > div > a {
  background-color: #EE6059;
  padding: 15px 35px;
  font-size: 20px;
}
.headbox > .content {
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(-12%);
}
.headbox > .content > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headbox > .content > h1 {
  color: white;
  font-size: 100px;
}
.headbox > .content > p {
  color: rgba(255, 255, 255, 0.851);
  font-weight: 300;
  font-size: 20px;
}
.headbox > .content > div > a {
  border: 1px solid rgba(255, 255, 255, 0.731);
  padding: 15px 40px;
  color: rgba(255, 255, 255, 0.731);
  transition: 0.4s;
  font-size: 20px;
}
.headbox > .content > div > a:hover {
  color: white;
  border-color: white;
}

.contentbar {
  width: 100%;
  background-color: #25292B;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contentbar > .backmeshki {
  width: 65%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  position: relative;
}
.contentbar > .backmeshki::after {
  content: "▼";
  color: #25292B;
  position: absolute;
  font-size: 100px;
  left: 50%;
  bottom: -18%;
  transform: translateX(-50%);
}
.contentbar > .backmeshki > * {
  padding: 10px 0px;
}
.contentbar > .backmeshki > div {
  width: 100%;
}
.contentbar > .backmeshki > h1 {
  color: white;
  font-size: 50px;
}
.contentbar > .backmeshki > p {
  color: rgb(168, 167, 167);
  font-size: 14px;
  line-height: 27px;
}
.contentbar > .imageinput {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1E2123;
  padding: 0px 60px;
}
.contentbar > .imageinput > div {
  width: 50%;
  height: 100%;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.contentbar > .imageinput > div:nth-of-type(2) {
  height: 80%;
  align-content: space-evenly;
}
.contentbar > .imageinput > div:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contentbar > .imageinput > div:nth-of-type(2) > div > * {
  width: 100%;
}
.contentbar > .imageinput > div:nth-of-type(2) > div > label {
  font-size: 16px;
  color: #7E998A;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.contentbar > .imageinput > div:nth-of-type(2) > div > input {
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  caret-color: white;
  background-color: #25292B;
  border: 1px solid rgba(255, 255, 255, 0.318);
}
.contentbar > .imageinput > div:nth-of-type(2) > a {
  background-color: #EE6059;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-size: 20px;
  text-transform: uppercase;
}
.contentbar > .imageinput > div > p {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
.contentbar > .imageinput > div > * {
  width: 100%;
}
.contentbar > .imageinput > div > figure > img {
  width: 100%;
  transition: 0.4s;
  box-shadow: 0px 0px 15px 10px black;
  cursor: pointer;
}
.contentbar > .imageinput > div > figure > img:hover {
  transform: scale(1.05);
}
.contentbar > .backgroundimg1 {
  width: 100%;
  display: flex;
  background-image: url(../img/gym.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: 0% 50%;
  position: relative;
}
.contentbar > .backgroundimg1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(30, 33, 35, 0.8274509804);
  position: absolute;
}
.contentbar > .backgroundimg1 > .iconbar {
  margin: 0px 20px;
  z-index: 2;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contentbar > .backgroundimg1 > .iconbar > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contentbar > .backgroundimg1 > .iconbar > a > p {
  color: rgba(255, 255, 255, 0.5058823529);
  text-align: center;
  width: 100%;
  line-height: 30px;
}
.contentbar > .backgroundimg1 > .iconbar > a:hover > div {
  outline: 20px solid rgba(255, 0, 0, 0);
}
.contentbar > .backgroundimg1 > .iconbar > a:hover > div > i {
  transform: scale(0.8);
  transition: 0.4s;
}
.contentbar > .backgroundimg1 > .iconbar > a > span {
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.contentbar > .backgroundimg1 > .iconbar > a > div {
  width: 35%;
  border-radius: 50%;
  outline: 2px solid #EE6059;
  transition: 1s;
}
.contentbar > .backgroundimg1 > .iconbar > a > div > i {
  display: flex;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  outline: 2px solid #EE6059;
  font-size: 40px;
  color: #EE6059;
  width: 100%;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #EE6059;
  transition: border 0.4s, box-shadow 2s;
}
.contentbar > .backgroundimg1 > .iconbar > a > * {
  margin: 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contentbar > .background2 {
  background-image: none;
  height: 150vh;
  display: flex;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}
.contentbar > .background2 > div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
.contentbar > .background2 > div > * {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.contentbar > .background2 > div > p {
  color: white;
  font-size: 35px;
  font-weight: 800;
}
.contentbar > .background2 > div > i {
  font-size: 14px;
}
.contentbar > .background2::after {
  content: none;
}
.contentbar > .background2 > .colbar {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
.contentbar > .background2 > .colbar > div {
  padding: 25px;
  height: 100%;
  margin: 25px;
  background-color: #1E2123;
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.contentbar > .background2 > .colbar > div > div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.contentbar > .background2 > .colbar > div > div > p {
  width: 90%;
  margin-left: 20px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.671);
}
.contentbar > .background2 > .colbar > div > div > span {
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(148, 148, 148);
  width: 100%;
}
.contentbar > .context {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
}
.contentbar > .context > * {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.contentbar > .context > h2 {
  color: white;
  font-size: 45px;
}
.contentbar > .gridbox {
  padding: 50px;
  display: grid;
  width: 100%;
  height: 140vh;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
.contentbar > .gridbox > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentbar > .gridbox > div > figure {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.contentbar > .gridbox > div > figure:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 50px 15px black;
}
.contentbar > .gridbox > div > figure > img {
  width: 100%;
  height: 100%;
}
.contentbar > .backgroundimage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-position: 50% 40%;
  background-image: url(../img/home-testimonial-bg.jpg);
}
.contentbar > .backgroundimage > p {
  font-size: 30px;
  width: 50%;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 78px;
}
.contentbar > .backgroundimage > span {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 25px;
}
.contentbar > .figbar {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentbar > .figbar > div {
  width: 26%;
  display: flex;
  height: 100vh;
  background-color: #3a3f43;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0px 25px;
}
.contentbar > .figbar > div > div {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
}
.contentbar > .figbar > div > div:last-child {
  margin-bottom: 25px;
}
.contentbar > .figbar > div > div * {
  padding: 20px 0px;
}
.contentbar > .figbar > div > div > h3 {
  padding-top: 40px;
  color: white;
  font-weight: 600;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
}
.contentbar > .figbar > div > div > p {
  width: 90%;
  color: rgba(207, 205, 205, 0.7921568627);
  font-size: 16px;
  line-height: 35px;
  padding-bottom: 40px;
}
.contentbar > .figbar > div > div > i {
  margin-bottom: 25px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: #1F2326;
  position: relative;
}
.contentbar > .figbar > div > div > i:hover > span {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.contentbar > .figbar > div > div > i:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.contentbar > .figbar > div > div > i:nth-of-type(2) > span {
  left: 5px;
}
.contentbar > .figbar > div > div > i > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -80%;
  left: 0;
  padding: 5px 5px;
  font-size: 10px;
  color: white;
  background-color: #25292B;
}
.contentbar > .figbar > div > div > i::after {
  visibility: hidden;
  opacity: 0;
  content: "▼";
  position: absolute;
  font-size: 30px;
  color: #25292B;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contentbar > .figbar > div > figure {
  width: 100%;
  cursor: pointer;
}
.contentbar > .figbar > div > figure:hover {
  transition: 0.4s;
  box-shadow: 10px 0px 50px black;
  transform: scale(1.05);
}
.contentbar > .figbar > div > figure > img {
  width: 100%;
  height: 100%;
}
.contentbar > .ahrefs {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentbar > .ahrefs > a {
  padding: 20px 30px;
  font-size: 22px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.7647058824);
  color: rgba(255, 255, 255, 0.7647058824);
  transition: 0.4s;
}
.contentbar > .ahrefs > a:hover {
  color: white;
  border-color: white;
}
.contentbar > .afters {
  width: 100%;
  position: relative;
}
.contentbar > .afters::after {
  position: absolute;
  content: "▼";
  font-size: 100px;
  color: #25292B;
  bottom: -331px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contentbar > .context1 {
  background-color: #1E2123;
  width: 100%;
  height: 60vh;
  display: flex;
  align-content: center;
}
.contentbar > .grid1 {
  background-color: #1E2123;
  padding-top: 50px;
  padding: 0px 50px;
  display: grid;
  width: 100%;
  gap: 50px;
  height: 200vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.contentbar > .grid1 > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  background-color: rgba(3, 3, 3, 0.2352941176);
}
.contentbar > .grid1 > div > figure {
  position: relative;
  overflow: hidden;
}
.contentbar > .grid1 > div > figure:hover > figcaption {
  left: 0;
  opacity: 1;
}
.contentbar > .grid1 > div > figure > figcaption {
  transition: 0.4s;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 91, 84, 0.8235294118);
  cursor: pointer;
}
.contentbar > .grid1 > div > figure > figcaption > i {
  font-size: 35px;
  color: white;
}
.contentbar > .grid1 > div > div {
  padding: 20px;
}
.contentbar > .grid1 > div > div > * {
  margin: 12px 0px;
}
.contentbar > .grid1 > div > div > a {
  font-size: 15px;
  font-weight: 700;
  line-height: 29px;
  transition: 0.4s;
}
.contentbar > .grid1 > div > div > a:hover {
  color: #EE6059;
}
.contentbar > .grid1 > div > div > p {
  color: rgb(196, 196, 196);
  line-height: 30px;
  font-size: 12px;
}
.contentbar > .grid1 > div:nth-of-type(1) {
  grid-row: 1/span 4;
}
.contentbar > .grid1 > div:nth-of-type(2) {
  grid-row: 1/span 5;
}
.contentbar > .grid1 > div:nth-of-type(2) > div > p {
  font-size: 12px;
}
.contentbar > .grid1 > div:nth-of-type(2) > div > a {
  font-size: 15px;
}
.contentbar > .grid1 > div:nth-of-type(3) {
  grid-row: 1/span 4;
}
.contentbar > .grid1 > div:nth-of-type(3) > div > a {
  font-size: 15px;
}
.contentbar > .grid1 > div:nth-of-type(3) > div > p {
  font-size: 12px;
}
.contentbar > .grid1 > div:nth-of-type(3) > figure {
  width: 100% !important;
}
.contentbar > .grid1 > div:nth-of-type(4) {
  grid-row: 5/span 4;
}
.contentbar > .grid1 > div:nth-of-type(6) {
  grid-row: 6/span 4;
}
.contentbar > .grid1 > div:nth-of-type(6) > figure {
  width: 100%;
}
.contentbar > .grid1 > div:nth-of-type(6) > figure > img {
  width: 100%;
}
.contentbar > .grid1 > div:nth-of-type(5) {
  grid-row: 5/span 4;
}
.contentbar > .grid1 > div:nth-of-type(5) > figure {
  width: 100%;
}
.contentbar > .ahrefs1 {
  background-color: #1E2123;
  height: 30vh;
  align-items: start;
}
.contentbar > .background5 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-image: url(../img/dumbells.jpg);
}
.contentbar > .background5::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(240, 127, 121, 0.7568627451);
  position: absolute;
}
.contentbar > .background5 > a {
  display: flex;
  color: rgba(255, 255, 255, 0.776);
  z-index: 1;
  font-weight: 700;
  padding: 15px 25px;
  font-size: 26px;
  border: 1px solid rgba(255, 255, 255, 0.624);
  text-transform: uppercase;
  transition: 0.4s;
}
.contentbar > .background5 > a:hover {
  color: white;
  border-color: white;
}
.contentbar > .background5 > div {
  z-index: 1;
}
.contentbar > .background5 > div > * {
  padding: 10px 0px;
}
.contentbar > .background5 > div > p {
  color: white;
  font-size: 35px;
  font-weight: 800;
}
.contentbar > .background5 > div > span {
  color: white;
}
.contentbar > .navbar {
  width: 100%;
  height: 60vh;
  background-color: #25292B;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 80px;
}
.contentbar > .navbar > div {
  width: 25%;
  display: flex;
  margin: 0px 10px;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}
.contentbar > .navbar > div > div {
  display: flex;
  flex-wrap: wrap;
}
.contentbar > .navbar > div > div > * {
  width: 100%;
}
.contentbar > .navbar > div > div > div {
  display: flex;
  padding: 5px 0px;
}
.contentbar > .navbar > div > div > div > p {
  color: #5A717A;
}
.contentbar > .navbar > div > div > div > a {
  transition: 0.4s;
  padding: 0px 8px;
}
.contentbar > .navbar > div > div > div > a:hover {
  color: #EE6059;
}
.contentbar > .navbar > div > h5 {
  color: #5A717A;
  padding: 35px 0px;
  font-size: 20px;
  font-weight: 300;
}
.contentbar > .navbar > div > p {
  color: #5A717A;
}
.contentbar > .navbar > div > span {
  color: #5A717A;
  padding: 0px 0px;
}
.contentbar > .navbar > div > * {
  width: 100%;
  padding: 20px 0px;
}
.contentbar > .navbar > div > a {
  font-size: 15px;
  transition: 0.4s;
  width: 100%;
  line-height: 25px;
  display: flex;
  position: relative;
}
.contentbar > .navbar > div > a:hover, .contentbar > .navbar > div > a:hover::after {
  color: #EE6059;
}
.contentbar > .navbar > div > a::after {
  content: ">";
  position: absolute;
  top: 20px;
  transition: 0.4s;
  left: -15px;
  color: white;
}
.contentbar > .navbar > div > figure {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.contentbar > .navbar > div > figure > img {
  cursor: pointer;
  transition: 0.4s;
}
.contentbar > .navbar > div > figure > img:hover {
  transform: scale(1.05);
}
.contentbar > .footbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.contentbar > .footbox > p {
  color: white;
  font-size: 16px;
  font-weight: 800;
}
.contentbar > .footbox > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentbar > .footbox > div > i {
  margin-bottom: 25px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: #1F2326;
  position: relative;
}
.contentbar > .footbox > div > i:hover > span {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.contentbar > .footbox > div > i:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.contentbar > .footbox > div > i > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -80%;
  left: 0;
  padding: 5px 5px;
  font-size: 10px;
  color: white;
  background-color: #1F2326;
}
.contentbar > .footbox > div > i::after {
  visibility: hidden;
  opacity: 0;
  content: "▼";
  position: absolute;
  font-size: 30px;
  color: #1F2326;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=master.css.map */